# EditorConfig file for ETC R&D Network Products dept.
#
# To learn more about EditorConfig, go to https://editorconfig.org
#
# To enforce the settings in this file, you may need to download a plugin for
# your editor of choice: https://editorconfig.org/#download
#
# Currently covers C, C++ and Python
# Revision 1: 2019-07-01

# This is the top-level EditorConfig file for this project.
root = true

# Settings to apply to every file affected by this EditorConfig
# Sections lower than this override this section.
[*.{c,cpp,cxx,c++,cc,h,hh,hpp,inl,ipp,py}]
indent_style = space            # Indent using spaces
indent_size = 2                 # Each indentation level is 2 spaces
trim_trailing_whitespace = true # Trim trailing whitespace from each line
insert_final_newline = true     # Add a final newline to each file if missing

# Specific overrides for Python only
[*.py]
indent_size = 4                 # For Python, use 4 space indentation per PEP-8
