[submodule "external/RDM"]
	path = external/RDM
	url = ../../ETCLabs/RDM
[submodule "external/EtcPal"]
	path = external/EtcPal
	url = https://github.com/ETCLabs/EtcPal
[submodule "external/libGadget"]
	path = external/libGadget
	url = https://github.com/ETCLabs/libGadget
