<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include vars.wxi ?>

  <!-- This variable should NEVER BE CHANGED at any point in the product's lifecycle! -->
  <!-- It will muck with Windows installer logic. You have been warned. -->
  <?define UpgradeCode = "FF687C87-2E87-4D58-BE07-1759636A6DAE" ?>

  <Product Name="RDMnet" Manufacturer="ETC Inc." Id="*" UpgradeCode="$(var.UpgradeCode)"
      Language="1033" Codepage="1252" Version="$(var.VersionNumber)">

    <Package Id="*" Keywords="Installer" Description="$(var.PkgDescription)" Manufacturer="ETC Inc."
        InstallerVersion="301" Languages="1033" Compressed="yes" SummaryCodepage="1252"
        InstallScope="perMachine" InstallPrivileges="elevated" />

    <!-- Upgrade logic - every upgrade is considered a Major Upgrade -->
    <Upgrade Id="$(var.UpgradeCode)">
        <UpgradeVersion Maximum="$(var.VersionNumber)" IncludeMaximum="yes" OnlyDetect="no"
                        Property="PLACEHOLDER" />
    </Upgrade>
    <MajorUpgrade AllowDowngrades="yes" AllowSameVersionUpgrades="no"
        Schedule="afterInstallInitialize" MigrateFeatures="no" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesFolder)">
        <Directory Id="ETC" Name="ETC">
          <Directory Id="INSTALLDIR" Name="RDMnet" FileSource="$(var.InstallSourceDir)">
            <Directory Id="CommandLineRuntime" Name="bin">
              <Component Id="Broker" Guid="CE63588F-0717-4D20-B0AB-D004975A5E38">
                <File Id="BrokerExe" Name="rdmnet_broker_example.exe" DiskId="1" KeyPath="yes" />
              </Component>
              <Component Id="Device" Guid="0832714A-EC4C-4948-BB35-6F869B6566EC">
                <File Id="DeviceExe" Name="rdmnet_device_example.exe" DiskId="1" KeyPath="yes" />
              </Component>
              <Component Id="LlrpManager" Guid="D5683599-6003-4CC6-A382-ECE7955EF102">
                <File Id="LlrpManagerExe" Name="llrp_manager_example.exe" DiskId="1" KeyPath="yes" />
              </Component>
              <Component Id="Fakeway" Guid="E7AB7623-F4A8-4B0C-B465-E9063AF309BA">
                <File Id="FakewayExe" Name="rdmnet_gateway_example.exe" DiskId="1" KeyPath="yes" />
              </Component>
              <Component Id="DnsSdDll" Guid="997E9DB8-712B-490B-B427-427018333F33">
                <File Id="DnsSdDll" Name="dnssd.dll" DiskId="1" KeyPath="yes" />
              </Component>
              <Component Id="GadgetDll" Guid="1861B75B-8858-4B17-AD33-EC79A3B6C5B0">
                <File Id="GadgetDll" Name="GadgetDLL.dll" DiskId="1" KeyPath="yes" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Merge Id="VCRedistx86" SourceFile="$(var.VcRedistMergeModulex86)" DiskId="1" Language="0" />
      <?if $(var.Platform) = x64 ?>
        <Merge Id="VCRedistx64" SourceFile="$(var.VcRedistMergeModulex64)" DiskId="1" Language="0" />
      <?endif ?>
      <Merge Id="mDNSResponder" SourceFile="$(var.mDNSMergeModule)" DiskId="1" Language="0" />
    </Directory>

    <Feature Id="Complete" Title="RDMnet $(var.VersionNumber)" Description="The RDMnet SDK and example apps."
        Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
      <Feature Id="ExampleApps" Title="RDMnet Example Apps" Description="The RDMnet example apps."
          Display="expand" Level="1">
        <Feature Id="Controller" Title="RDMnet Controller App"
            Description="The RDMnet Controller Example GUI application." Level="1">
          <ComponentGroupRef Id="Controller" />
        </Feature>
        <Feature Id="Broker" Title="RDMnet Broker App" Description="The RDMnet Broker example app."
            Level="1">
          <ComponentRef Id="Broker" />
          <ComponentRef Id="DnsSdDll" />
        </Feature>
        <Feature Id="Device" Title="RDMnet Device App" Description="The RDMnet Device example app."
            Level="1">
          <ComponentRef Id="Device" />
          <ComponentRef Id="DnsSdDll" />
        </Feature>
        <Feature Id="Fakeway" Title="RDMnet Gateway App (&quot;Fakeway&quot;)" Description="The RDMnet Gateway example app."
            Level="1">
          <ComponentRef Id="Fakeway" />
          <ComponentRef Id="DnsSdDll" />
          <ComponentRef Id="GadgetDll" />
        </Feature>
        <Feature Id="LlrpManager" Title="LLRP Manager App"
            Description="The LLRP Manager example app." Level="1">
          <ComponentRef Id="LlrpManager" />
        </Feature>
      </Feature>
    </Feature>

    <!-- Always install the x86 VCRedist to support mDNSResponder -->
    <Feature Id="VCRedistx86" Title="Visual C++ 32-bit Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedistx86" />
    </Feature>
    <?if $(var.Platform) = x64 ?>
      <Feature Id="VCRedistx64" Title="Visual C++ 64-bit Runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRedistx64" />
      </Feature>
    <?endif ?>
    <Feature Id="mDNSResponder" Title="DNS-SD service" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="mDNSResponder" />
    </Feature>

    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

  </Product>
</Wix>
